[global]
mon host = ${JOIN_MONITOR_HOST}
mon data = /var/lib/ceph/mon/${CLUSTER_NAME}-${MONITOR_NAME}
# public network = {network}[, {network}]
# cluster network = {network}[, {network}]
auth cluster required = none
auth service required = none
auth client required = none

